.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}

.menu {
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
    position: relative; /* 使子元素能够相对于此容器进行定位 */
    display: flex;
    justify-content: space-between; /* 在主轴上分配多余空间 */
    align-items: center; /* 在侧轴上居中对齐 */
}

.menu-links {
    display: flex;
    justify-content: flex-start;
}

.top-right-button {
    position: absolute;
    top: 10px; /* 根据需要调整距离顶部的距离 */
    right: 10px; /* 根据需要调整距离右侧的距离 */
}